<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TrailerDefects</key>
	<dict>
		<key>Brake Connections</key>
		<integer>1</integer>
		<key>Brakes</key>
		<integer>2</integer>
		<key>Coupling Devices</key>
		<integer>3</integer>
		<key>Coupling Pin</key>
		<integer>4</integer>
		<key>Doors</key>
		<integer>5</integer>
		<key>Hitch</key>
		<integer>6</integer>
		<key>Landing Gear</key>
		<integer>7</integer>
		<key>Lights</key>
		<integer>8</integer>
		<key>Reflectors</key>
		<integer>9</integer>
		<key>Roof</key>
		<integer>10</integer>
		<key>Straps</key>
		<integer>11</integer>
		<key>Suspection System</key>
		<integer>12</integer>
		<key>Tarpaulin</key>
		<integer>13</integer>
		<key>Tires</key>
		<integer>14</integer>
		<key>Wheels And Rims</key>
		<integer>15</integer>
		<key>Other</key>
		<integer>16</integer>
	</dict>
	<key>TruckDefects</key>
	<dict>
		<key>Air Compressor</key>
		<integer>1</integer>
		<key>Air Lines</key>
		<integer>2</integer>
		<key>Audio/Visual Equimpent</key>
		<integer>3</integer>
		<key>Battery</key>
		<integer>4</integer>
		<key>Belts And Hoses</key>
		<integer>5</integer>
		<key>Body</key>
		<integer>6</integer>
		<key>Brake Accessories</key>
		<integer>7</integer>
		<key>Cleanliness of Interor</key>
		<integer>8</integer>
		<key>Clutch</key>
		<integer>9</integer>
		<key>Condition of Floor</key>
		<integer>10</integer>
		<key>Defroster</key>
		<integer>11</integer>
		<key>Directional Lights</key>
		<integer>12</integer>
		<key>Drivers Seat and Belt</key>
		<integer>13</integer>
		<key>Emergency Door and Buzzer</key>
		<integer>14</integer>
		<key>Emergency Equipment</key>
		<integer>15</integer>
		<key>Engine</key>
		<integer>16</integer>
		<key>Entrance Steps</key>
		<integer>17</integer>
		<key>Exhaust</key>
		<integer>18</integer>
		<key>Fire Extinguisher</key>
		<integer>19</integer>
		<key>First Aid Kit</key>
		<integer>20</integer>
		<key>Fluid Levels</key>
		<integer>21</integer>
		<key>Gauges And Warning Lights</key>
		<integer>22</integer>
		<key>HeadLights</key>
		<integer>23</integer>
		<key>Heater</key>
		<integer>24</integer>
		<key>Horn</key>
		<integer>25</integer>
		<key>Hose Connections</key>
		<integer>26</integer>
		<key>Mirrors</key>
		<integer>27</integer>
		<key>Muffler</key>
		<integer>28</integer>
		<key>Oil Level</key>
		<integer>29</integer>
		<key>Parking Brakes</key>
		<integer>30</integer>
		<key>Power Steering</key>
		<integer>31</integer>
		<key>Radiator Level</key>
		<integer>32</integer>
		<key>Safety Equipment</key>
		<integer>33</integer>
		<key>Service Brakes</key>
		<integer>34</integer>
		<key>Service Door</key>
		<integer>35</integer>
		<key>Starter</key>
		<integer>36</integer>
		<key>Steering</key>
		<integer>37</integer>
		<key>Suspension System</key>
		<integer>38</integer>
		<key>Stop Arm</key>
		<integer>39</integer>
		<key>Switches</key>
		<integer>40</integer>
		<key>Tail Lights</key>
		<integer>41</integer>
		<key>Tail Pipe</key>
		<integer>42</integer>
		<key>Tires</key>
		<integer>43</integer>
		<key>Transmission</key>
		<integer>44</integer>
		<key>Turn Indicators</key>
		<integer>45</integer>
		<key>Wheelchair Lift</key>
		<integer>46</integer>
		<key>Wheels And Rims</key>
		<integer>47</integer>
		<key>Windows</key>
		<integer>48</integer>
		<key>Windshield</key>
		<integer>49</integer>
		<key>Wipers And Washers</key>
		<integer>50</integer>
		<key>Other</key>
		<integer>51</integer>
	</dict>
</dict>
</plist>
